.img-center{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px #000;
}
.team-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px;
}
.txt{
    text-align: center;
    margin-right: 10px;
}